/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #dddddd;
    background-color: #cdcdf4;
  }

h1{
  color: purple;
  font-weight: bold;
  font-size: xx-large;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-indent: 25px;
}

body{
  background-color: #dddddd;
}

#content {
  background-color: #bd97ff;
}